.stb-component-grid {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #333; }
    .stb-component-grid.hidden {
        display: none; }
    .stb-component-grid table {
        width: 100%;
        table-layout: fixed; }
        .stb-component-grid table td.item {
            cursor: pointer;
            padding: 2px 5px;
            vertical-align: middle;
            text-align: center; }
        .stb-component-grid table td.item.mark {
            color: black;
            background-color: green; }
        .stb-component-grid table td.item.focus {
            color: black;
            background-color: orange; }
        .stb-component-grid table td.item.focus.mark {
            color: white;
            background-color: #AE7200; }
        .stb-component-grid table td.item.disable {
            color: grey;
            background-color: #111; }
